
       
        <tr>
                        <td><%= image_tag(course.photo, style: 'width:300px')  %></td>
                        <td><%= course.title %></td>
                        <td><%= course.place %></td>
                        <td><%= course.description %></td>
                        <td><%= course.punctuation %></td>
                        <td><%= course.price %></td>
                        <td><%= course.category %></td>
                        <td><%= course.address %></td>
                        <td><%= link_to 'Show', course %></td>

                
        

</tr>